/**************** Fonts *****************/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Extra Bold"), local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/**************** Base *****************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  color: #000000;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.paragraph {
  color: #464646;
}

.heading {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.02;
}

.section-heading {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.02;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  max-width: 280px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.33;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 5px 20px;
  color: #000;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0c52e;
  transform: scaleY(0.2);
  transform-origin: center;
  transition: transform 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -4;
}

.btn:hover.btn::before,
.btn:focus.btn::before {
  transform: scaleY(1);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**************** Header *****************/
.site-header {
  padding-top: 40px;
  background-color: #f7e296;
}

.site-header.container {
  padding: 0 60px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-search {
  width: 441px;
}

.form-search__label {
  opacity: 0.3;
  transition: opacity 0.1s linear;
}

.form-search__label:hover {
  opacity: 0.6;
}

.form-search__input {
  width: 327px;
  font: inherit;
  border: none;
  background-color: transparent;
}

.form-search__input:focus ~ .form-search__button,
.form-search__input:valid ~ .form-search__button {
  visibility: visible;
}

.form-search__button {
  visibility: hidden;
  font: inherit;
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: color, background-color 0.1s linear;
}

.form-search__button:hover,
.form-search__button:focus {
  color: #ffffff;
  background-color: #000000;
  outline: none;
}

.form-search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  flex-basis: 500px;
}

.user-menu,
.navigation-list,
.navigation-list__submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigation-list__submenu {
  flex-wrap: wrap;
  margin-top: 20px;
}

.navigation-list__group {
  margin-right: 60px;
}

.user-menu__link,
.navigation-list__link {
  font: inherit;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.1s linear;
}

.navigation-list__link--uppercase {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.5px;
  line-height: 1.33;
  text-transform: uppercase;
}

.user-menu__link:hover,
.user-menu__link:focus,
.navigation-list__link:hover,
.navigation-list__link:focus {
  opacity: 0.6;
}

.user-menu__link:active,
.navigation-list__link:active {
  opacity: 0.3;
}

.user-menu__link--logout {
  opacity: 0.3;
}

/**************** About *****************/
.transporters-list {
  margin: 0;
  list-style: none;
}

.transporters-list__item {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
}

/**************** Footer *****************/
.site-footer {
  background-color: #464646;
  color: #ffffff;
}

.user-menu--inversed .user-menu__link {
  color: #ffffff;
  opacity: 0.7;
}

.user-menu--inversed .user-menu__link:hover,
.user-menu--inversed .user-menu__link:focus {
  opacity: 1;
}

.user-menu--inversed .user-menu__link:active {
  opacity: 0.3;
}

.user-menu--inversed .user-menu__link--logout {
  opacity: 1;
}

.user-menu--inversed .user-menu__link--logout:hover,
.user-menu--inversed .user-menu__link--logout:focus {
  opacity: 0.7;
}

.user-menu--inversed .user-menu__link--logout:active {
  opacity: 0.3;
}

.address {
  font-style: normal;
}

.navigation-list--footer-menu .navigation-list__link {
  color: #ffffff;
}

.phone-number {
  font: inherit;
  color: #ffffff;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:focus {
  opacity: 0.6;
}

.phone-number:active {
  opacity: 0.3;
}

.social-icons-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons-list__link {
  color: #ffffff;
  text-decoration: none;
}

.developed {
  transition: opacity 0.1s linear;
}

.developed:hover,
.developed:focus {
  opacity: 0.7;
}

.developed:active {
  opacity: 0.3;
}

/*****************************************/
/************* Catalog.html **************/
/*****************************************/

.main-content .heading {
  padding-left: 60px;
  margin-bottom: 10px;
}

/************* Breadcrumbs ***************/
.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 60px;
  list-style: none;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 40px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  font: inherit;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.3;
  color: #000000;
  transition: opacity 0.1s linear;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/************* Store section ***************/
.store {
  display: flex;
  justify-content: space-between;
}

.store__wrapper {
  width: 760px;
}

/*************** Filters *****************/
.form-filter {
  position: relative;
  z-index: 0;
}

.filters {
  width: 327px;
  background-color: #ebebeb;
  text-align: center;
}

.form-filter__group {
  border: none;
}

.form-filter__list {
  text-align: left;
}

.form-filter__group legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  color: #000000;
}

.form-filter__label {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 2.86;
  font-weight: 300;
  color: #000000;
}

/********** Store items list ***********/
.store-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*************** Card *****************/
.card {
  margin-bottom: 30px;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__heading {
  flex-basis: 253px;
}

.card__link {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  color: #000;
}

.card__price {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: #464646;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.card__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__compare-link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 2.77;
  font-weight: 300;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  transition: opacity 0.1s linear;
}

.card__compare-link:hover,
.card__compare-link:focus {
  opacity: 1;
}

.card__compare-link:active {
  opacity: 0.2;
}
